ul {
	padding: 0;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
}
div {
	margin: 0;
}
.index {
  color: #354052;
  font-family: Product Sans;
  font-size: 14px;
}
.nav {
	background-color: #1a8bb6;
/*	font-size: 18px;*/
	height: 70px;
	position: relative;
}
.container {
	width: 1166px;
	margin-left: auto;
	margin-right: auto;
}
.row {
	width: 100%;
}
.logo {
/*	background-color: #cccccc;*/
	display: inline-block;
}
.logo-img {
	background-image: url("../image/gaming-logo.png");
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	margin-top: 7px;
}
.nav-category {
	font-size: 18px;
	float: right;
	margin-top: 5px;
	text-align: right;
	text-transform: uppercase;
}
.item {
	display: inline-block;
	padding-left: 30px;
}
.item-color {
	color: #fff;
}
.banner {
	width: 100%;
	height: 400px;
	background-color: #cccccc;
	/*height: 400px;
	margin: -4px 0px;
	background-position: right bottom;*/
}
.banner-img {
	background-image: url('../image/banner-2.jpg');
	background-repeat: no-repeat;
	background-size: 1766px 700px;
	width: 100%;
	height: 100%;
	background-position: center bottom;
}
.blog {
	background-color: #e4e4e4;
	width: 100%;
	display: inline-block;
	padding-bottom: 20px;
}
.nav-left {
	float: left;
	width: 20%;
}
.nav-left-list {
	height: auto;
	border: solid 1px #bdbdbd;
	background-color: #fff;
	border-radius: 4px;
	margin-right: 10px;
}
.nav-left-text {
	font-size: 16px;
	text-align: center;
	list-style: none;
	margin: 20px 0px;
}
.nav-left-text a {
	color: #00adef;
}
.art-right {
	width: 78%;
	float: left;
	margin-top: 15px;
}
.art-right-item {
	border: solid 1px #bdbdbd;
	width: 100%;
	height: 200px;
	border-radius: 4px;
	color: #333;
	font-size: 17px;
	background-color: #fff;
}
.item-avt {
	background-image: url('../image/con-meo.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 15px;
	float: left;
	width: 240px;
	height:	168px;
}
.item-content {
	margin: 13px 20px;
	text-align: justify;
}
.suggestion {
	padding: 10px 0px;
	width: 100%;
	display: inline-block;
	background-color: #fbfbfb;
	margin-top: -4px;
}
.suggest-item {
	border: solid 1px #bdbdbd;
	border-radius: 4px;
	width: 270px;
	height: auto;
	float: left;
	margin-right: 19px;
	margin-bottom: 20px;
}
.suggest-item-avt {
	width: 93%;
	height: auto;
	padding: 10px 10px 0px 10px;
}
.suggest-item-content {
	padding: 10px;
	text-align: justify;
}