body {
	background-color: #dddd;
	padding: 10px 0px;
}
.inventory {
	background-color: #fafafa;
	width: 1000px;
	height: 650px;
	margin: auto auto;
	position: relative;
}
.text {
	color: #fff;
	text-align: center;
}
.hat {
	background-color: #05178e;
	width: 100px;
	height: 100px;
	line-height: 100px;
	position: absolute;
	left: 450px;
	top: 50px;
}
.glove {
	background-color: #c10808;
	width: 65px;
	height: 80px;
	line-height: 80px;
	position: absolute;
	left: 350px;
	top: 70px;
}
.necklet {
	background-color: #dbff00;
	width: 100px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 315px;
	top: 100px;
}
.armor {
	background-color: #ffdd00;
	width: 100px;
	height: 250px;
	line-height: 250px;
	position: absolute;
	left: 450px;
	top: 170px;
}
.weapon {
	background-color: #05178e;
	width: 100px;
	height: 250px;
	line-height: 250px;
	position: absolute;
	right: 315px;
	top: 170px;
}
.ring {
	width: 65px;
	height: 80px;
	line-height: 80px;
	position: absolute;
}
.ring-1 {
	background-color: #0cb90f;
	left: 350px;
	top: 200px;
}
.ring-2 {
	background-color: #9e9898;
	left: 350px;
	top: 310px;
}
.belt {
	background-color: #6f6b6b;
	width: 100px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	left: 450px;
	top: 440px;
}
.gem {
	background-color: #dc3737;
	width: 65px;
	height: 100px;
	line-height: 100px;
	position: absolute;
	left: 350px;
	top: 440px;
}
.shoes {
	background-color: #0cb90f;
	width: 100px;
	height: 90px;
	line-height: 90px;
	position: absolute;
	right: 315px;
	top: 440px;
}