body {
	background-color: #fff;
	font-family: Product Sans;
	font-size: 14px;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
	padding: 0;
}
h2 {
	font-weight: normal;
}
p {
	margin: 0;
}
.nav {
	background-color: #99ddde;
	width: 100%;
	display:inline-block;
}
.container {
	width: 1166px;
	margin-left: auto;
	margin-right: auto;
}
.nav-left {
	width: 180px;
	float: left;
}
.logo {
	float: left;
}
.logo-img {
	background-repeat: no-repeat;
	background-size: 60px 70px;
	width: 60px;
	height: 70px;
	margin-top: 5px;
}
.logo-text {
	font-size: 20px;
	padding-top: 30px;
	color: #fff;
}
.nav-mid {
	display: inline-block;
	width: 500px;
	float: left;
	padding-left: 130px;
}
.search {
	width: 98%;
	height: 30px;
	background-color: #fafafa;
	border: 0px solid;
	border-radius: 3px;
	margin-top: 10px;
}
.menu {
	display: inline-block;
	margin: 0;
	padding-left: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}
.menu li a {
	color: #fff;
	margin-right: 40px;
}
.menu-cate {
	text-transform: uppercase;
	color: #fff;
	font-size: 17px;
}
.nav-right {
	display: inline-block;
	color: #fff;
	float: right;
	margin: 17px 50px 0px 0px;
}
.fnt {
	display: inline-block;
	margin: 0px 10px 0px 10px;
	color: #fff;
}
.fnt a {
	color: 	#fff;
}
.category {
	width: 100%;
	height: 750px;
}
.title {
	color: #333;
	border-left: 5px solid #99ddde;
	padding-left: 15px;
}
.slider {
	width: 800px;
	height: 650px;
	margin-right: 10px;
	float: left;
}
.img-large {
    width: 100%;
    height: 450px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.thumbnail {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}
.tnb {
	float: left;
}
.tnb-img {
	margin-right: 10px;
	width: 176px;
	height: 176px;
	background-color: #ddd;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 0px 5px #99ddde;
	border: 5px solid #fff;
	margin-right: 14px;
}
.tnb-img-slider {
	position: absolute;
	max-height: 100%;
	transform: translate(-50%, 0px);
	left: 50%;
}
.tnb-like {
	margin-right: 10px;
	width: 209px;
	height: 209px;
	background-color: #ddd;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 0px 5px #99ddde;
	border: 5px solid #fff;
	margin-right: 14px;
}
.cart {
	float: left;
	width: 306px;
	margin-left: 20px;
}
.color-orange {
	color: #ffb182
}
.price {
	color: #ffb182;
	font-size: 48px;
	display: inline;
}
.slct {
	background-color: #e8e8e8;
	width: 70px;
	height: 40px;
	border: 0px solid;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
}
.remain {
	font-size: 16px;
	color: #333;
	margin-left: 10px;
}
.btn {
	padding: 10px;
	border-radius: 3px;
	font-size: 16px;
	width: 200px;
	height: 50px;
	margin-bottom: 15px;
	cursor: pointer;
}
.btn-orange {
	background-color: #ffb182;
	border: 2px solid #ffb182;
	color: #fff;
}
.btn-ghost {
	background-color: #fff;
	border: 2px solid #99ddde;
	color: #99ddde;
}
.nav-infor {
	border-top: 1px dotted #99ddde;
	padding: 20px 0px 20px 0px;
	border-bottom: 1px dotted #99ddde;
	color: #555;
}
.nav-infor-content {
	margin-left: 5px;
	line-height: 2.0;
}
.social	{
	padding-top: 15px;
	color: #b5b3b3;
	font-size: 16px;
}
.social ul li {
	margin-bottom: 15px;
}
.social ul li a {
	color: 	#b5b3b3;
}
.information {
	padding: 20px 0px 20px 0px;
	width: 100%;
}
.nav-tab {
	overflow: hidden;
    padding-left: 20px;
}
.nav-tab button {
    background-color: #99ddde;
    float: left;
    border: none;
    border-radius: 6px 6px 0px 0px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 3px;
    font-size: 17px;
    color: #555;
}
.navtabcontent {
	color: #555;
	font-size: 17px;
    display: none;
    padding: 6px 12px;
    border-radius: 6px;
    border-top: none;
    background-color: #99ddde59;
}
.nav-tab button:hover {
    background-color: #99ddde59;
}
.nav-tab button.active {
    background-color: #99ddde59;
}
.suggest {
	width: 100%;
	padding: 10px 0px 10px 0px;
}
.footer {
	background-color: #5e6f96;
	width: 100%;
	color: #fff;
	padding: 20px 0px 20px 0px;
	display: inline-block;
	margin-bottom: -5px;
	margin-top: 20px;
}
.address {
	width: 200px;
	float: left;
}
.logo-footer {
	margin-top: 80px;
}
.newsletter {
	display: inline-block;
    width: 400px;
    float: left;
    padding-left: 130px;
    position: relative;
}
.btn-join {
	padding: 8px 20px;
	color: #fff;
	background-color: #99ddde;
	position: absolute;
	right: 0px;
	top: 100px;
	border-radius: 3px;
	cursor: pointer;
}
.subscribe {
	width: 100%;
	height: 30px;
	background-color: #fafafa40;
	border: 0px solid;
	border-radius: 3px;
	margin-top: 10px;
}
.about {
	float: left;
	padding-top: 40px;
}
.about li {
	margin-bottom: 10px;
}
.policy {
	padding-left: 120px;
}
.media {
	float: right;
	color: #fff;
	width: 300px;
}
.media-footer {
	display: inline-block;
	margin-right: 30px;
	text-align: center;
	float: left;
}
.img-footer {
	margin-top: 100px;
}
.tnb-img-footer {
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background-color: #ddd;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	margin-right: 14px;
}